

.tutor-button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 11px 15px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 250px;
    top: 1px;
    margin-right: 7px;
    text-decoration: none; /* Remove underline from links */
  }

  .tutor-button:hover {
    filter: brightness(.8);
  }

  .tutor-button {
    background-color: #ffcc00;
    color: #00741E;
  }

  .lesson-btn {
  
    width: 100%;
      text-align: start;
      margin-left: -25px;
  }